* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header, .hero-section, .footer {
  background: #1f2937;
}

.header, .hero-section, .footer, .hero-signup, .cat-signup {
  color: #fff;
}

.header, .links, .hero-section, .image-placeholder, .card-section, .cards, .call-to-action, .footer {
  display: flex;
}

.header {
  justify-content: center;
  gap: 350px;
  padding: 0 200px;
}

.links {
  gap: 15px;
}

.hero-section {
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  gap: 100px;
}

.hero-wrapper {
  min-width: 200px;
  max-width: 350px;
  text-align: left;
}

.hero-signup {
  margin-top: 10px;
  padding: 5px 30px;
  background: #3b82f6;
  border: none;
  border-radius: 5px;
}

.image-placeholder {
  background-color: grey;
  justify-content: center;
  padding: 80px;
}

.image-placeholder, .card-section {
  text-align: center;
}

.card-section {
  flex-direction: column;
  justify-content: space-around;
}

.cards {
  justify-content: space-around;
}

.quote {
  text-align: center;
}

.call-to-action {
  justify-content: space-around;
  width: 900px;
  margin: auto;
}

.footer {
  justify-content: center;
  padding: 20px;
}