* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

.header, .hero-section, .footer {
  background: #1f2937;
}

.header, .hero-section, .footer, .hero-signup, .cat-signup {
  color: #fff;
}

.header, .links, .hero-section, .image-placeholder, .card-section, .cards, .call-to-action, .footer, .card, .quote-container, .author {
  display: flex;
}

.card-section, .card {
  flex-direction: column;
}

.header, .hero-section, .image-placeholder, .footer {
  justify-content: center;
}

.hero-section, .card-section, .card, .quote-container, .call-to-action {
  align-items: center;
}

.header {
  gap: 350px;
  padding: 0 200px;
}

.links {
  gap: 15px;
}

.hero-section {
  padding: 50px 200px;
  gap: 100px;
}

.hero-wrapper {
  min-width: 200px;
  max-width: 350px;
  text-align: left;
}

.hero-signup {
  margin-top: 10px;
  padding: 5px 30px;
  background: #3b82f6;
  border: none;
  border-radius: 5px;
}

.image-placeholder {
  background-color: grey;
  padding: 80px;
}

.image-placeholder, .card-section {
  text-align: center;
}

.card-section {
  margin-top: 30px;
}

.cards {
  gap: 80px;
  margin-bottom: 50px;
}

.card {
  width: 150px;
  margin-top: 20px;
}

.card-box {
  border: 4px solid #3b82f6;
  border-radius: 20px;
  margin-bottom: 5px;
  width: 150px;
  height: 150px;
}

.quote-container {
  background: #e5e7eb;
  height: 300px;
}

.quote {
  font-size: 22px;
  font-style: italic;
  width: 525px;
  margin: auto;
}

.author {
  justify-content: flex-end;
  font-weight: bold;
}

.call-to-action {
  justify-content: space-around;
  background: #3b82f6;
  color: white;
  border-radius: 5px;
  width: 900px;
  margin: 50px auto;
  padding: 50px 20px;
}

.cat-signup {
  background: #3b82f6;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  padding: 0px 20px;
}

.footer {
  padding: 20px;
}